$top-bar-height: 50px;

$side-nav-width: 200px;
$side-nav-padding: 16px;

.nav-toolbar {
	height: $top-bar-height;
	display: flex;
	column-gap: 0.7em;
	background-color: var(--ch-color-primary);
	align-items: center;
}

.title {
	color: #fff;
}

.side-nav-container {
	position: relative;
	height: calc(100vh - $top-bar-height);
}

::ng-deep .side-nav {
	width: $side-nav-width;
	padding: $side-nav-padding;

	.mdc-list-item__primary-text {
		color: #fff;
	}

	.mdc-list-item:focus .mdc-list-item__primary-text,
	.mdc-list-item:hover .mdc-list-item__primary-text {
		color: #fff;
	}
}

.nav-item.selected {
	background-color: var(--ch-color-primary);
	color: white;
}

.content-container {
	padding-inline: 6px;
}
