.emoji-picker-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	row-gap: 2em;
}

.emoji-picker {
	border: 1px solid #eee;
	border-radius: 6px;
	overflow: hidden;
}
