:root {
	--mat-sidenav-content-background-color: #fafafa;
	--mat-sidenav-content-text-color: #181818;
	--mat-sidenav-container-background-color: white;

	--ch-font-family: Poppins, Roboto, RobotoFallback,
		'Noto Kufi Arabic', Helvetica, Arial, sans-serif;

	--ch-background-color: #fff;
	--ch-text-color: #181818;

	--ch-color-primary: #138e6b;
	--ch-color-success: #23a55a;
	--ch-color-danger: #fb3640;
	--ch-color-warning: #dea704;
	--ch-color-info: #3b82f6;

	--ch-color-online: #23a55a;
	--ch-color-away: #dea704;
	--ch-color-do-not-disturb: #fb3640;
	--ch-color-offline: #80848e;

	--ch-searchbar-background: #fff;

	--ch-tab-bar-background: #f5f6f9;
	--ch-tab-bar-border-color: #d5d5d5;

	--ch-background-selected: rgba(0, 0, 0, 0.15);

	--ch-color-scroll: rgba(204, 204, 215, 0.8);
	--ch-color-scroll-hover: rgb(201, 201, 210);

	--ch-message-board-background: #fff;
	--ch-message-bubble-background: rgb(235, 235, 240);
	--ch-message-bubble-self-background: rgb(141, 186, 174);
	--ch-message-bubble-footer-color: #4a4a4a;
	--ch-messages-date-indicator-background: rgb(200, 200, 205);

	--ch-placeholder-color: #777777;

	--ch-message-input-border: #d5d5d5;
	--ch-message-input-background: #fff;
	--ch-message-input-button-color: #515151;
	--ch-message-input-button-background-hover: #919191;
	--ch-message-input-button-background-focus: #919191;
	--ch-message-input-button-background-active: #919191;

	--ch-button-color-clear: #000;
}

@media (prefers-color-scheme: dark) {
	body {
		--mat-sidenav-content-background-color: #212121;
		--mat-sidenav-content-text-color: #212121;
		--mat-sidenav-content-text-color: #fff;
		--mat-sidenav-container-background-color: #2c2c2c;
		// --mdc-list-list-item-label-text-color: #fff;
		// --mdc-list-list-item-hover-label-text-color: #fff;

		--ch-background-color: #222;
		--ch-text-color: #fff;
		--ch-background-selected: rgba(255, 255, 255, 0.2);
		--ch-color-scroll: hsla(0, 0%, 100%, 0.15);
		--ch-color-scroll-hover: rgba(217, 217, 227, 0.5);
		--ch-tab-bar-background: #161616;
		--ch-tab-bar-border-color: #323232;
		--ch-searchbar-background: #161616;
		--ch-message-board-background: #232323;
		--ch-message-input-background: #3e3e3e;
		--ch-message-input-border: #a1a1a1;
		--ch-placeholder-color: #a1a1a1;
		--ch-message-bubble-self-background: rgb(30, 100, 81);
		--ch-message-input-button-color: #e0e0e0;
		--ch-message-input-button-background-hover: #b8b8b8;
		--ch-message-input-button-background-focus: #a1a1a1;
		--ch-message-input-button-background-active: #a1a1a1;
		--ch-message-bubble-background: #2e2e2e;
		--ch-message-bubble-footer-color: rgb(205, 205, 205);
		--ch-messages-date-indicator-background: #141414;
		--ch-button-color-clear: #fff;
	}
}
